$header-color: #333;
$dark-header-color: #222;

$default-font: 'Roboto', 'Lato', 'Helvetica Neue', Arial, Helvetica, 'Tahamo', sans-serif;

.thin-font { font-weight: 100; }

.color-dark-1 { color: #111;}
.color-dark-2 { color: #666; }
.color-dark-3 { color: #aaa; }


body {
  font-family: $default-font;
  background: #f8f8f8;
  font-weight: 300;
  font-size: 16px;
  color: #111;
}

.ui.header {
  font-family: $default-font;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $default-font;
  font-weight: 300;
  color: $header-color;
}

.mini-space {
  padding: 10px 0;
  @media screen and (max-width: 768px) {
    padding: 7px 0;
  }
}

.space {
  padding: 20px 0;
  @media screen and (max-width: 768px) {
    padding: 15px 0;
  }
}

.section {
  &.section-first {
    height: 100%;
    background: yellow;

    .name {
      line-height: 1.7em;
      font-size: 4em;
    }

    .description {
      font-size: 1.2em;
    }
    @media screen and (max-width: 768px) {
      .name {
        font-size: 3em;
        line-height: 1.2em;
      }

      .description {
        font-size: 1.1em;
      }
    }
    @media screen and (max-width: 320px) {
      .name {
        font-size: 2.5em;
      }
    }
  }


  & > .grid {
    height: 100%;
  }
}
